
body {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100vh;
  height: 100vw;
  background-image: url("https://i.pinimg.com/1200x/e7/23/cc/e723ccbfc57ed3c60a40e226c9fa5ef6.jpg")
  
}
.name {
  border: 1px solid rgb(131, 65, 101);
  background-color: white;
  font-weight: bold;

}

.villagercard {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  background-size: cover;
  background-color: pink;
  border: 5px solid aqua;
  
}

.card {
  
  display:flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 10px;
  border: 1px solid rgb(131, 65, 101);
  background-color: pink;
  transition: transform .2s;
}

.card:hover {
  transform: scale(1.5);
}